// As hex codes */
$green-hex-0: #377037;	// Main Primary color */
$green-hex-1: #74A774;
$green-hex-2: #508C50;
$green-hex-3: #206020;
$green-hex-4: #0E480E;

// As RGBa codes */
$green-rgba-0: rgba( 55,112, 55,1);	// Main Primary color */
$green-rgba-1: rgba(116,167,116,1);
$green-rgba-2: rgba( 80,140, 80,1);
$green-rgba-3: rgba( 32, 96, 32,1);
$green-rgba-4: rgba( 14, 72, 14,1);

// As hex codes */
$blue-hex-0: #2E98EA;	// Main Primary color */
$blue-hex-1: #7CBEF1;
$blue-hex-2: #53AAED;
$blue-hex-3: #0D87E5;
$blue-hex-4: #0570C2;

// As RGBa codes */
$blue-rgba-0: rgba( 46,152,234,1);	// Main Primary color */
$blue-rgba-1: rgba(124,190,241,1);
$blue-rgba-2: rgba( 83,170,237,1);
$blue-rgba-3: rgba( 13,135,229,1);
$blue-rgba-4: rgba(  5,112,194,1);
