extends layout

block content
  div.routeContainer

    section.block-parallax-1
      div.parallax-bg
      div.md-box
        div.indexTitleHeader
          div.indexTitleText
            | The Freemen House
            br
            span.indexTtTs
              | Where our Roots with God support you on the journey to Recovery


          //-
            div.headerSplash
              h1= title
              p Take the offense and attack your disease head on with #{title}
              p Local resources for those in early recovery.

            div.qotd
              p Your Emotional, Mental, & Spiritual Health is a selfish program, but not at the expense of others.
              p Once you have found Inner Peace & a Clear Mind,
                br
                | Only then can you turn it into a program of selflessness & caring action, but not at the expense of your own growth.
          //
    section.index-ui-back


    section.block-parallax-1.block-parallax-2
