doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:300,400')
    script(src='/javascript/jquery-3.2.1.min.js')
    script(src='/javascript/main.js')


  body

    block navBar
      div.navBar
        div.nbMenu
          div.icoBtn
            i.fa.fa-bars
        div.nbTitle
          | ENKARA
        div.navLinkBar
          div.navLink
            Home
          div.navLink
            Application
          div.navLink
            About Us
          div.navLink
            Sponsorship
          div.navLink
            More
        div.signUp.btn.green
          | Get Started
        div.login.btn.blue
          | Login

    block content


    script(src='http://localhost:35729/livereload.js')
